@page "/"
@using Havit.Blazor.Components.Web
@using Havit.Blazor.Components.Web.Bootstrap
@using Microsoft.AspNetCore.Components.Web
@inject IHostApplicationLifetime AppLifetime
@namespace AniWorldAutoDL_Webpanel.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="icon" href="img/favicon.ico">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <link href="_content/Havit.Blazor.Components.Web.Bootstrap/bootstrap.css" rel="stylesheet" />
    <!-- Default values for additional CSS Variables (+ import Bootstrap Icons) -->
    <link href="_content/Havit.Blazor.Components.Web.Bootstrap/defaults.css" rel="stylesheet" />

    <link href="css/site.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        #components-reconnect-modal > h5 {
            color: #ffc107;
        }

        #components-reconnect-modal {
            background-color: #141C23 !important;
        }

        #components-reconnect-modal > div {
                background-color: #0D1620 !important;
                border-color: #ffc107 rgb(243, 243, 243) rgb(243, 243, 243) !important;
        }
    </style>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>

    <script>
        var isShuttingDown = false;
        var reconnectH5Set = false;
        var reconnectText = "Die Verbindung zum Server ist abgebrochen.";

        function setShutdown() {
            isShuttingDown = true;
        }
        // Wait until a 'reload' button appears
        new MutationObserver((mutations, observer) => {

            var reconnectElement = document.getElementById("components-reconnect-modal");

            if (reconnectElement) {
                if (isShuttingDown) {
                    reconnectElement.remove();
                    document.getElementById('ShuttingDown').classList.add("hide");
                    document.getElementById('ServerOffline').classList.remove("hide");
                }

                var h5Element = document.querySelector("#components-reconnect-modal > h5");

                if (h5Element && h5Element.innerHTML != reconnectText) {
                    h5Element.innerHTML = reconnectText;
                }
            }
        }).observe(document.body, { childList: true, subtree: true });
    </script>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <!-- JavaScript Bundle with Popper -->
    @Html.Raw(HxSetup.RenderBootstrapJavaScriptReference())
</body>
</html>
