<div>
    <img class="d-inline" style="width: 32px" src="img/german_dub.svg">
    <img class="d-inline" style="width: 32px" src="img/english_dub.svg">
    <img class="d-inline" style="width: 32px" src="img/german_sub.svg">
    <img class="d-inline" style="width: 32px" src="img/english_sub.svg">
</div>

@code {
    [Parameter]
    public Language Languages { get; set; }
}
