@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="min-vh-100">
    <UpdateComponent></UpdateComponent>
    <div class="p-4 d-md-flex">
        <NavComponent></NavComponent>
        <HxMessenger CssClass="mx-3 my-3" Position="ToastContainerPosition.BottomEnd" />
        <div class="main p-4 flex-grow-1 overflow-hidden">
            @Body
        </div>
    </div>
</div>